@mixin apple-text() {
	text-shadow: 0px 1px 1px rgba(255,255,255,0.75);
}

@mixin shadowed-text() {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

body
{
	background: #ddd;	
}

.pinned
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #ff0000;
	color: #fff;
	z-index: 99;

	a
	{
		color: #fff;
	}
}

header
{
	min-height: 65vh;
	position: relative;

	color: #fff;

	.overlay
	{
		position: relative;
		z-index: 80;
		padding: 70px 0;
		@include gradient-vertical($start-color: rgba(255,255,255,.85), $end-color: rgba(255,255,255,.001));

		h1
		{
			color: #fff;
			margin-top: 140px;
			font-weight: normal;

			@include shadowed-text;
		}

		.navbar-brand
		{
			font-family: 'Courgette', $font-family-sans-serif;
			color: $text-color;
			font-size: 40px;
			text-align: center;
			line-height: 36px;
			display: block;
		}

		.navbar-nav
		{
			
			text-transform: uppercase;

			a
			{
				color: $text-color;
			}
		}
	}

	.carousel
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;


		.carousel-inner
		{
			width: 100%;
			height: 100%;
			
			.item
			{
				width: 100%;
				height: 100%;
				background-position:50%;
				background-repeat:no-repeat;
				background-color: #ff0000;
				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
			}
		}
	}
	
}

main
{
	padding: 30px 0;
	background: #fff;
}

.page-header
{
	margin-top: 0;
}

.panel-title
{
	font-family: 'Courgette', $font-family-sans-serif;
	font-size: 26px;
}

footer
{
	padding: 30px 0;
}